.first {
	background-color:#7a5e62;
	text-align:center;
}

.second  {
	background-color:#7a5e62;
	text-align:center;
}

.header {
	padding:25px;
	background-color:#969393;
	text-align:center;
	border-bottom:2px solid black;
	color:white;
}

img {
	width:100px;
	height:120px;
	padding:10px;
}

h4{
	color:blue;
}

span{
	color: #961920;
}

.card-group{
	padding:30px;
}


.subheader{
	padding:10px;
}

.footer{
	background-color:#969393;
	color:white;
	text-align:center;
	padding:25px;
}

h1{
	padding:10px;
}

#goodInvestments{
	font-size:30px;
	padding:10px;
}

#badInvestments{
	font-size:30px;
	padding:10px;
}

#counter{
	background-color:white;
	width:300px;
	margin:auto;
	margin-top:20px;
	padding:20px;
	box-shadow: 0px 0px 10px 10px #888888;
}